


body {height: 100%; background-color:lightgoldenrodyellow;background-repeat: no-repeat;background-attachment:fixed;background-size: cover;-webkit-tap-highlight-color: rgba(0, 0, 0, 0);}
/* 顶部信息格式 */
#header_css{width: 800px; height: 80px; margin: auto;}
/* 基本框架 */
#show_title{ background-color:orange; width: 500px; height: 100px; overflow:hidden;}
#show_name{ background-color: transparent; height: 60px; width: 300px; margin: 20px 100px; text-align: center; font-size: 16px; border: none; outline: none;}
#show_content{ background-color:transparent;width: 800px;height: 600px; margin: auto;}
/*框架窗口*/
/*#show_windows{ width: 800px; height: 450px; margin: auto;}*/
.wind_s{ width: 500px; height: 500px;  border: none; outline: none; background-color: black; float:left; }
.wind_f{width: 800px; height: 450px; border: none; outline: none;}
.list_s{width: 300px; height: 500px; float:left; background-color: rgba(249,233,195,0.6);}
.list_f{display: none;}
/*播放列表控件*/
.control_s{width:32px; height: 32px; background-color:white; float: left; display: block;}
.control_h{width:32px; height: 32px; background-color:white; float: left; display: none;}
.progress{width:400px; height: 32px; background-color:white; float: left; display: none;}
/* 尾部信息格式 */
#footer_css{ width: 800px; height: 80px; margin: auto;}