body {height: 100%; background-color:lightgoldenrodyellow;background-repeat: no-repeat;background-attachment:fixed;background-size: cover;-webkit-tap-highlight-color: rgba(0, 0, 0, 0);}
/* 顶部信息格式 */
#header_css{width: 800px; height: 80px; margin: auto;}
/* 基本框架 */
#show_content{ background-color:transparent;width: 800px; height: 600px; margin: auto;}
#windows{ width: 800px; height: 450px; margin: auto;}
#show_title{ background-color:orange; width: 200px; height: 80px; margin: 10px 20px;border-radius: 20px; overflow:hidden; display: none;}
#show_name{ background-color: transparent; height: 60px; width: 100px; margin: 10px 20px; text-align: center; font-size: 16px; border: none; outline: none;}
.wind_s{ width: 500px; height: 282px;  border: none; outline: none; padding: 84px 0 84px 0; background-color: black; float:left; }
.wind_f{width: 800px; height: 450px; border: none; outline: none;}
.barr_s{width: 300px; height: 450px; float:right; background-color: rgba(249,233,195,0.6);}
.barr_f{display: none;}
/*播放列表控件*/
.control_s{width:32px; height: 32px; background-color:white; float: left; display: block;}
.control_h{width:32px; height: 32px; background-color:white; float: left; display: none;}
.progress{width:400px; height: 32px; background-color:white; float: left; display: none;}
/*选择列表展示*/
#list{ height: 140px; width:800px;}
#table_list{height: 120px; width:760px;  margin:20px; border:none;}
.move_left{ height:120px; width:40px; outline: none; background:url("../../images/left.png"); border: none; margin-right: 8px; opacity: 0.8;}
.move_right{ height:120px; width:40px; outline: none; background:url("../../images/right.png"); border: none; margin-left: 8px; opacity: 0.8;}
.show_list_box{height:120px; width:140px; margin-left: 6px;  margin-right: 6px; float: left; border: 5px solid rgba(220,220,220,0.5); border-radius: 20px;background-color:ghostwhite; overflow:hidden;}
.show_list_header{height:15%; width:100%; text-align: center; border: none; outline: none; background-color: transparent;}
.show_list_content{height:75%; width:100%; text-align: center; border: none; outline: none;}
/* 尾部信息格式 */
#footer_css{ width: 800px; height: 80px; margin: auto;}